body {
    margin: 0;
}

.main-content {
    padding-top: .5em;
    padding-bottom: .5em;
}

.movies-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}
